body {
    background-color: #333232;
    margin-top: 50px;
}

#container {
    background-color: #0e2431;
    border: 5px solid white;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 39px;
}

#input {
    width: 100px;
    height: 30px;
    margin: 25px auto;
}

#btn {
    margin: 25px auto;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}